{
  "openapi": "3.0.1",
  "info": {
    "title": "INSTRUMERS API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.instrumer.com"
    }
  ],
  "security": [
    {
      "JWT": []
    }
  ],
  "paths": {
    "/api/vendor/solutions": {
      "put": {
        "tags": ["솔루션 API (Vendor)"],
        "summary": "솔루션 수정",
        "operationId": "updateSolution",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSolutionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseCreateSolutionResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["솔루션 API (Vendor)"],
        "summary": "솔루션 생성",
        "operationId": "createSolution",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSolutionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseCreateSolutionResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["솔루션 API (Vendor)"],
        "summary": "솔루션 삭제",
        "operationId": "deleteSolution",
        "parameters": [
          {
            "name": "solutionSeq",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/api/users": {
      "get": {
        "tags": ["회원 권한 필요"],
        "summary": "사용자(본인) 정보 조회",
        "description": "로그인한 사용자의 정보를 조회합니다.\n\nuserType에 따라 응답 구조가 달라집니다.\n\nVENDOR 응답 예시\n```json\n{\n  \"userSeq\": 1,\n  \"email\": \"vendor@example.com\",\n  \"userType\": \"VENDOR\",\n  \"profileImageUrl\": \"https://cdn.example.com/profile.png\",\n  \"businessName\": \"인스트루머스\",\n  \"managerName\": \"김대표\",\n  \"phone\": \"010-1234-5678\",\n  \"bank\": \"KB국민은행\",\n  \"account\": \"123456-01-123456\"\n}\n```\n\nCONSUMER 응답 예시\n```json\n{\n  \"userSeq\": 2,\n  \"email\": \"consumer@example.com\",\n  \"userType\": \"CONSUMER\",\n  \"profileImageUrl\": \"https://cdn.example.com/profile.png\",\n  \"businessName\": \"테스트컴퍼니\",\n  \"managerName\": \"이담당\",\n  \"phone\": \"010-9876-5432\"\n}\n```\n",
        "operationId": "get",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["회원 권한 필요"],
        "summary": "사용자 정보 수정",
        "description": "로그인한 사용자의 정보를 수정합니다.\n\nuserType에 따라 요청 구조가 달라집니다.\n\n모든 필드는 선택적이며, 전달된 필드만 업데이트됩니다.\n\nVENDOR 요청 예시\n```json\n{\n  \"email\": \"vendor@example.com\",\n  \"password\": \"newPassword123\",\n  \"profileImageUrl\": \"https://cdn.example.com/profile.png\",\n  \"businessName\": \"인스트루머스\",\n  \"phone\": \"010-1234-5678\",\n  \"bank\": \"KB국민은행\",\n  \"account\": \"123456-01-123456\"\n}\n```\n\nCONSUMER 요청 예시\n```json\n{\n  \"email\": \"consumer@example.com\",\n  \"password\": \"newPassword123\",\n  \"profileImageUrl\": \"https://cdn.example.com/profile.png\",\n  \"businessName\": \"테스트컴퍼니\",\n  \"phone\": \"010-9876-5432\"\n}\n```\n",
        "operationId": "update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["회원 권한 필요"],
        "summary": "사용자 삭제",
        "operationId": "delete",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/reissue-token": {
      "post": {
        "tags": ["회원 권한 불필요"],
        "summary": "토큰 재발급",
        "operationId": "reissueToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReissueTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseReIssueTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/register/vendor": {
      "post": {
        "tags": ["회원 권한 불필요"],
        "summary": "벤더 기업 회원가입",
        "operationId": "registerVendor",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterVendorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/register/consumer": {
      "post": {
        "tags": ["회원 권한 불필요"],
        "summary": "수요 고객 회원가입",
        "operationId": "registerConsumer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterConsumerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/presigned-url": {
      "post": {
        "tags": ["공통 API"],
        "summary": "S3 Presigned URL 생성 (만료시간: 1시간, 파일명 자동 생성)",
        "operationId": "presignedURL",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponsePresignedURLResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/login": {
      "post": {
        "tags": ["회원 권한 불필요"],
        "summary": "회원 로그인",
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseLoginUserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/auth-code": {
      "post": {
        "tags": ["회원 권한 불필요"],
        "summary": "이메일 인증 번호 확인",
        "operationId": "verifyAuthKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmailAuthKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/api/consumer/solutions/{solutionSeq}/reviews": {
      "post": {
        "tags": ["솔루션 리뷰 API (Consumer)"],
        "summary": "솔루션 리뷰 작성",
        "operationId": "createSolutionReview",
        "parameters": [
          {
            "name": "solutionSeq",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSolutionReviewRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseCreateSolutionReviewResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/{userSeq}": {
      "get": {
        "tags": ["회원 권한 불필요"],
        "summary": "특정 사용자 정보 조회",
        "description": "특정 사용자의 정보를 조회합니다.\n\nuserType에 따라 응답 구조가 달라집니다.\n\nVENDOR 응답 예시\n```json\n{\n  \"userSeq\": 1,\n  \"email\": \"vendor@example.com\",\n  \"userType\": \"VENDOR\",\n  \"profileImageUrl\": \"https://cdn.example.com/profile.png\",\n  \"businessName\": \"인스트루머스\",\n  \"managerName\": \"김대표\",\n  \"phone\": \"010-1234-5678\",\n  \"bank\": \"KB국민은행\",\n  \"account\": \"123456-01-123456\"\n}\n```\n\nCONSUMER 응답 예시\n```json\n{\n  \"userSeq\": 2,\n  \"email\": \"consumer@example.com\",\n  \"userType\": \"CONSUMER\",\n  \"profileImageUrl\": \"https://cdn.example.com/profile.png\",\n  \"businessName\": \"테스트컴퍼니\",\n  \"managerName\": \"이담당\",\n  \"phone\": \"010-9876-5432\"\n}\n```\n",
        "operationId": "get_1",
        "parameters": [
          {
            "name": "userSeq",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/solutions/{solutionSeq}": {
      "get": {
        "tags": ["솔루션 API (Public)"],
        "summary": "솔루션 상세 조회",
        "operationId": "getSolution",
        "parameters": [
          {
            "name": "solutionSeq",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseGetSolutionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/solutions/{solutionSeq}/reviews": {
      "get": {
        "tags": ["솔루션 API (Public)"],
        "summary": "솔루션 리뷰 목록 조회 (페이징)",
        "operationId": "getReviews",
        "parameters": [
          {
            "name": "solutionSeq",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseGetSolutionReviewPageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/solutions/list": {
      "get": {
        "tags": ["솔루션 API (Public)"],
        "summary": "솔루션 리스트 조회",
        "operationId": "getSolutionList",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minPrice",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "maxPrice",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseGetSolutionListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/send-email/{email}": {
      "get": {
        "tags": ["회원 권한 불필요"],
        "operationId": "sendEmail",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseString"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UpdateSolutionImageRequest": {
        "type": "object",
        "properties": {
          "imageUrl": {
            "type": "string"
          },
          "imageType": {
            "type": "string"
          }
        }
      },
      "UpdateSolutionPlanDetailRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "context": {
            "type": "string"
          }
        }
      },
      "UpdateSolutionPlanRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "subName": {
            "type": "string"
          },
          "price": {
            "type": "integer",
            "format": "int64"
          },
          "planType": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UpdateSolutionPlanDetailRequest"
            }
          }
        }
      },
      "UpdateSolutionRequest": {
        "required": ["category", "explanation", "name", "price", "solutionSeq", "webUrl"],
        "type": "object",
        "properties": {
          "solutionSeq": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "explanation": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "price": {
            "type": "integer",
            "format": "int64"
          },
          "webUrl": {
            "type": "string"
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UpdateSolutionImageRequest"
            }
          },
          "plans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UpdateSolutionPlanRequest"
            }
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "BaseResponseCreateSolutionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/CreateSolutionResponse"
          }
        }
      },
      "CreateSolutionResponse": {
        "type": "object",
        "properties": {
          "solutionSeq": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "BaseResponseString": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "string"
          }
        }
      },
      "CreateSolutionImageRequest": {
        "type": "object",
        "properties": {
          "imageUrl": {
            "type": "string"
          },
          "imageType": {
            "type": "string"
          }
        }
      },
      "CreateSolutionPlanDetailRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "context": {
            "type": "string"
          }
        }
      },
      "CreateSolutionPlanRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "subName": {
            "type": "string"
          },
          "price": {
            "type": "integer",
            "format": "int64"
          },
          "planType": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateSolutionPlanDetailRequest"
            }
          }
        }
      },
      "CreateSolutionRequest": {
        "required": ["category", "explanation", "name", "price", "webUrl"],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "explanation": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "price": {
            "type": "integer",
            "format": "int64"
          },
          "webUrl": {
            "type": "string"
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateSolutionImageRequest"
            }
          },
          "plans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateSolutionPlanRequest"
            }
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ReissueTokenRequest": {
        "required": ["refreshToken"],
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "BaseResponseReIssueTokenResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ReIssueTokenResponse"
          }
        }
      },
      "ReIssueTokenResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "RegisterVendorRequest": {
        "required": ["businessImageUrl", "businessName", "email", "managerName", "password", "phone"],
        "type": "object",
        "properties": {
          "businessName": {
            "type": "string"
          },
          "managerName": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "businessImageUrl": {
            "type": "string"
          }
        }
      },
      "RegisterConsumerRequest": {
        "required": ["businessName", "email", "managerName", "password", "phone"],
        "type": "object",
        "properties": {
          "businessName": {
            "type": "string"
          },
          "managerName": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "BaseResponsePresignedURLResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/PresignedURLResponse"
          }
        }
      },
      "PresignedURLResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          }
        }
      },
      "LoginUserRequest": {
        "required": ["email", "password"],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "BaseResponseLoginUserResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/LoginUserResponse"
          }
        }
      },
      "LoginUserResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "VerifyEmailAuthKeyRequest": {
        "required": ["authCode", "email"],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "authCode": {
            "type": "string"
          }
        }
      },
      "CreateSolutionReviewRequest": {
        "required": ["context", "rate"],
        "type": "object",
        "properties": {
          "context": {
            "type": "string"
          },
          "rate": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "BaseResponseCreateSolutionReviewResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/CreateSolutionReviewResponse"
          }
        }
      },
      "CreateSolutionReviewResponse": {
        "type": "object",
        "properties": {
          "solutionReviewSeq": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "BaseResponseObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "BaseResponseGetSolutionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/GetSolutionResponse"
          }
        }
      },
      "GetSolutionImageRequest": {
        "type": "object",
        "properties": {
          "imageUrl": {
            "type": "string"
          },
          "imageType": {
            "type": "string"
          }
        }
      },
      "GetSolutionPlanDetailRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "context": {
            "type": "string"
          }
        }
      },
      "GetSolutionPlanRequest": {
        "type": "object",
        "properties": {
          "solutionPlanSeq": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "subName": {
            "type": "string"
          },
          "price": {
            "type": "integer",
            "format": "int64"
          },
          "planType": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetSolutionPlanDetailRequest"
            }
          }
        }
      },
      "GetSolutionResponse": {
        "type": "object",
        "properties": {
          "solutionSeq": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "explanation": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "price": {
            "type": "integer",
            "format": "int64"
          },
          "webUrl": {
            "type": "string"
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetSolutionImageRequest"
            }
          },
          "plans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetSolutionPlanRequest"
            }
          },
          "reviewCnt": {
            "type": "integer",
            "format": "int64"
          },
          "reviewAverage": {
            "type": "number",
            "format": "double"
          },
          "vendorSeq": {
            "type": "integer",
            "format": "int64"
          },
          "vendorBusinessName": {
            "type": "string"
          },
          "profileImageUrl": {
            "type": "string"
          }
        }
      },
      "BaseResponseGetSolutionReviewPageResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/GetSolutionReviewPageResponse"
          }
        }
      },
      "GetSolutionReviewPageResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetSolutionReviewResponse"
            }
          },
          "pageInfo": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      },
      "GetSolutionReviewResponse": {
        "type": "object",
        "properties": {
          "solutionReviewSeq": {
            "type": "integer",
            "format": "int64"
          },
          "profileImageUrl": {
            "type": "string"
          },
          "businessName": {
            "type": "string"
          },
          "rate": {
            "type": "number",
            "format": "double"
          },
          "context": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PageInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "hasNext": {
            "type": "boolean"
          },
          "hasPrevious": {
            "type": "boolean"
          }
        }
      },
      "BaseResponseGetSolutionListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/GetSolutionListResponse"
          }
        }
      },
      "GetSolutionList": {
        "type": "object",
        "properties": {
          "solutionSeq": {
            "type": "integer",
            "format": "int64"
          },
          "image": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "price": {
            "type": "integer",
            "format": "int64"
          },
          "cnt": {
            "type": "integer",
            "format": "int64"
          },
          "average": {
            "type": "number",
            "format": "double"
          },
          "businessName": {
            "type": "string"
          }
        }
      },
      "GetSolutionListResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetSolutionList"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageInfo"
          }
        }
      }
    },
    "securitySchemes": {
      "JWT": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
